#main_slider a,.appointment form,.why_choose_us .right_side .choose_reason:before,.title_holder>span,.why_choose_us .right_side:before,/*
.department_two .single_item:hover .bg,*/.our_founder .item .img_holder .overlay,footer .contact_form_footer button,.scroll-top,
.uranus .tp-bullet.selected .tp-bullet-inner, .uranus .tp-bullet:hover .tp-bullet-inner,.scroll-top,.home-services h4:after,
.appointment .gender input[type="submit"],.hades.tparrows:hover:before, .hades.tparrows:focus:before,.clinet_feedback #client_slider .owl-controls .active span,
footer .logo_footer ul li:hover,.side_bar .practise_category h4:before,.department_details_page_content .single_progress_skills .progress .progress-bar,
.department_details_page_content .our_target ul li:before,.side_bar_style_two form button,.side_bar_style_two .keyword ul li.active, .side_bar_style_two .keyword ul li:hover,
.btn_color,.faq .tab_wrapper .panel-group .panel-heading.active-panel:before,.error_page a,.gallery .gallery_menu li:after,.gallery.gallery_two .mix .title,
.contact_us_form .input_wrapper button:hover,.color-scheme-theme-item.color-scheme-theme-selected{
    background-color: #33BBE8; /* #0082c8; */
}

#main_slider h5,.color-scheme-select-btn,.ficon:before,.home-services h4,.ficon:before, .medicine_plus .ceo .ceo_speach span, 
.medicine_plus .some_achievement span, .medicine_plus .home-services a, #practise_area .practise_text a, .clinet_feedback #client_slider .meta span,
 h3 span.firm, .latest_news .single_news_item .post_history ul li i, .latest_news .single_news_item .post a, .latest_news .news_post .post p span, 
 .latest_news .news_post .post a, .practise_area_style_two .single_item a, #main_slider_two h5, .our_attorney_style_two .attorney_member .opacity .info span, 
 #inner_banner .overlay ul li, #inner_banner .overlay ul li a, .video .video_text h6 span, .parctise_details_page_content .title p span, .side_bar .practise_category ul li a i, 
 .side_bar .practise_category ul li.active a, .side_bar .practise_category ul li a:hover, .side_bar .call_us a, .practise_area_style_three .single_item span:before, 
 .practise_area_style_three .single_item a, .blog_with_sidebar .blog_single_post .post_history ul li i, .blog_with_sidebar .blog_single_post .post_meta>a, 
 .blog_with_sidebar .blog_single_post .img_holder span a, .side_bar_style_two .category ul li a:hover, .side_bar_style_two .category ul li.active a, 
 .side_bar_style_two .category ul li a i, .side_bar_style_two .recent_news p span, .side_bar_style_two .call_us a, .attorney_details .name span, 
 .error_page h1, .gallery .title span,.our_founder .text span,.medicine_plus .home-services a:hover, #practise_area .practise_text a:hover,
  .latest_news .single_news_item .post a:hover, .latest_news .news_post .post a:hover, .practise_area_style_two .single_item a:hover,.hover_btn:hover,
  footer p.bottom_text a, .navbar-default .navbar-nav a.active
{
    color: #33BBE8 !important; /* #0082c8 */
}
.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav a.active,
#main_slider h5,.appointment .department select,.ficon:before,.home-services h4,h3 span.firm,.our_founder .text span,.clinet_feedback #client_slider .meta span,
.latest_news .single_news_item .post_history ul li i,.latest_news .single_news_item .post a,footer p.bottom_text a,.color-scheme-select-btn,.our_founder .item .img_holder .overlay ul li:hover a,
#main_slider a:hover,.title-bottom-line,.navbar-default .navbar-nav > li .sub_menu li a:hover,.department_area_style_three .single_item a,
.gallery .gallery_menu li:hover, .gallery .gallery_menu li.active,footer .service_footer ul li a:hover
{
    color: #33BBE8 !important; /* #0082c8 */
}

.side_bar_style_two .keyword ul li.active, .side_bar_style_two .keyword ul li:hover,
header .top-bar,.home-services .line:hover .ficon,.department_two .single_item:hover, .department_two .single_item:hover .bg,.clinet_feedback #client_slider .owl-controls span,
.our_founder .text,footer .logo_footer ul li:hover,.department_area_style_three .single_item:hover span:before,.side_bar_style_two form button
{
    border-color: #33BBE8 !important; /* #0082c8 */
}



input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus{
    -webkit-box-shadow: 0px 0px 5px #33BBE8 !important; /* #0082c8 */
    -moz-box-shadow: 0px 0px 5px #33BBE8 !important; /* #0082c8 */
    box-shadow: 0px 0px 5px #33BBE8 !important; /* #0082c8 */
}

.btn-dentist{
	padding-right:15px !important;
	background-color:#33BBE8;
}
.btn-dentist:hover{
	background-color: #004F6F;
}

.button {
    background-color: #33BBE8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    background-color: gray;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */

.btn-green {
  color: #fff;
  background-color: #32CD32; 
  transition:all 0.3s ease;
}
.btn-green:hover {
    color: #fff;
    background-color: #3ce43c; 
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.destaque{
    font-size:18px !important;
    margin-top:12px;
    margin-bottom:5px;
    color:#000;
}

.title_dentist{
    margin-bottom:0px;
}
#google-map{
    height:500px;
    width: 100%;
}

.pagination > .active > a, .pagination > .active > span, 
.pagination > .active > a:hover, .pagination > .active > span:hover, 
.pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #33BBE8;
    border-color: #33BBE8;
}

.register{
    margin-top:15px;
}

.register form{
    background:#F5F5F5;
}

.register label{
    color:#2C2C2C;
    font-size:15px;
    margin-bottom: -5px;
}

.register input, select{
    max-width: 100%;
    height:35px;
    border-radius:0;
    border:none;
}   

.information_area .single_info .icon {
    background-color: #fff;
    transition:all 0.3s ease;
}
.information_area .single_info .icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.icon {
    width:60px;
    text-decoration:none;
}
.icon-guia:before{
    content: '';
    background:url('../../images/icons/icon-6.png');
    background-size:cover;
    position:absolute;
    left:33px;
    top:15px;
    width:50px;
    height:50px;
    margin-left:-20px;
}
.icon-qualificacao:before{
    content: '';
    background:url('../../images/icons/icon-3.png');
    background-size:cover;
    position:absolute;
    left:33px;
    top:15px;
    width:50px;
    height:50px;
    margin-left:-20px;
}
.icon-especialista:before{
    content: '';
    background:url('../../images/icons/icon-1.png');
    background-size:cover;
    position:absolute;
    left:33px;
    top:15px;
    width:50px;
    height:50px;
    margin-left:-20px;
}
.icon-plano-odonto:before{
    content: '';
    background:url('../../images/icons/icon-2.png');
    background-size:cover;
    position:absolute;
    left:33px;
    top:15px;
    width:50px;
    height:50px;
    margin-left:-20px;
}
.icon-endereco:before{
    content: '';
    background:url('../../images/icons/icon-4.png');
    background-size:cover;
    position:absolute;
    left:33px;
    top:15px;
    width:50px;
    height:50px;
    margin-left:-20px;
}
.icon-economia:before{
    content: '';
    background:url('../../images/icons/icon-5.png');
    background-size:cover;
    position:absolute;
    left:33px;
    top:15px;
    width:50px;
    height:50px;
    margin-left:-20px;
}







